{% extends 'layout.html' %}

{% block body %}
    <div class="container text-center my-auto">
        <hr>
    <h3>Register</h3>
    <hr>
        <form action="" method="post">
            <div class="form-group">
                {% for field in register_form %}
                {{ field }}
                {% endfor %}
            </div>
        </form>
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">{{ message }}</div>
        {%  endfor %}
    </div>
{% endblock %}