{% extends 'layout.html' %}

{% block body %}
    <div class="container text-center my-auto">
    <hr>
    <h3>task - {{ task.task_id }}</h3>
    <hr>
    <table class="table table-striped ">
        {% for timesheet in timesheets %}
            <tr>
                <th>{{ timesheet.id }}</th>
                <td>{{ timesheet.start_time }} ~ {{ timesheet.end_time }}</td>
                <td>{{ timesheet.comment }}</td>
            </tr>
        {% endfor %}
    </table>
    <button class="form-control" onclick="show_task_form()">New time sheet</button>
    <form method="post" action="" id="new_timeSheet" hidden>
        <div class="form-group">
            {% for field in timeSheet_form %}
                {{ field }}
            {% endfor %}
        </div>

    </form>
    {% for message in get_flashed_messages() %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        function show_task_form() {
            var new_task_form = $('#new_timeSheet');
            if (new_task_form.is(':hidden')){
                new_task_form.attr('hidden', false);
            }
            else{
                new_task_form.attr('hidden', true);
            }
        }
    </script>

{% endblock %}